<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="hidden-md-down">Id</th>
        <th scope="col">Fecha</th>
        <th scope="col">Donante</th>
        <th scope="col">Beneficiario</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of donaciones">
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.fecha}}</td>
        <td>{{item.donante}}</td>
        <td>{{item.beneficiario}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.estado}}</td>
      </tr>
    </tbody>
  </table>
